= page_entries_info @applicants
%table.table.table-hover#applicants.display
  %thead
    %tr
      - applicant_colmn_names.each do |colmn|
        %th= colmn.capitalize
      %th
  %tbody
    - @applicants.each do |c|
      %tr
        - applicant_colmn_names.each do |colmn|
          %td
            - if colmn == "primarySkills"
              %p{style: "font-size:12px;width:250px;", "data-toggle" => "tooltip", "title" => c.send(colmn)}
                = h truncate(c.send(colmn), length: 80)
            - else
              = c.send(colmn)
        %td
          = link_to "Resume", resume_applicant_path(c.bm_id, "pdf"), target: "_blank" if c.resume_present?
          =# link_to "View Resume", view_resume_applicant_path(c), remote: true
          &nbsp;|&nbsp;
          = link_to "Edit", edit_applicant_path(c)
          &nbsp;|&nbsp;
          = link_to "Remove", applicant_path(c), method: :delete, dailog: {confirm: "Are u sure?"}

= will_paginate @applicants

:javascript
  $(document).ready(function() {
    $('#applicants').DataTable({
      "paging": false,
      "ordering": false,
      "info": false
    });
  } );
