= page_entries_info @applicants
%table.table.table-hover#applicants.display
  %thead
    %tr
      - applicant_colmn_names.each do |colmn|
        %th= colmn
      %th
  %tbody
    - @applicants.each do |c|
      %tr
        - applicant_colmn_names.each do |colmn|
          %td
            - if colmn == "primarySkills"
              %p{style: "font-size:12px;width:250px;", "data-toggle" => "tooltip", "title" => c.send(colmn)}
                = h truncate(c.send(colmn), length: 80)
            - else
              = c.send(colmn)
        %td
          = link_to "Edit", edit_applicant_path(c)
          = link_to "Remove", applicant_path(c), method: :delete, data: { confirm: 'Are you sure?' }
%br
= will_paginate @applicants
%br
%br
= link_to "New", new_applicant_path

:javascript
  $(document).ready(function() {
    $('#applicants').DataTable({
      "paging": false,
      "ordering": false,
      "info": false
    });
  } );
