.panel{:style => "margin-top:36px;margin-bottom:45px;"}
  .panel-heading{:style => "text-align:center;margin: -1px;color:white;background-color:#4B515D !important;"}
    %h4 Search Candidates


.container
  .row
    .col-xs-8.col-xs-offset-2
      = form_tag(search_applicants_path, method: :get, remote: true) do
        .input-group
          .input-group-btn.search-panel
            %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %span#search_concept Filter by
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#all"} AND
              %li
                %a{:href => "#any"} OR
          %input#match{:name => "match", :type => "hidden", :value => "all"}
            %input.form-control{:name => "term", value: params[:term], :placeholder => "Search term...", :type => "text"}
              %span.input-group-btn
                = submit_tag 'Search', name: nil, class: "btn btn-primary", :onclick => "search()"

#spinner.spinner{:style => "display:none;"}
  %i.fa.fa-spinner.fa-spin{:style => "font-size:80px;"}

%br
%br
#show-list

#my_modal_content

:javascript
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });

  function search() {
   $('#spinner').show();
  }
