$("#show-list").fadeOut('100');
// $("#show-list").html("<%= escape_javascript(render "list", :locals => {:applicants => @applicants}) %>");
$("#show-list").html("<%= j render "list", applicants: @applicants %>");
$("#show-list").fadeIn('100');
$('.pagination a').attr('data-remote', 'true');
$('#spinner').hide();
