.row
  .col-md-3
    %h3 Data pulled from Resume
    %hr
    %br
    = form_tag("#", method: "post") do 
      %p
        %label Name
        = text_field_tag "firstName", "", class: "form-control"
      %p
        %label Email
        = text_field_tag "email", "", class: "form-control"
      %p
        %label Phone
        = text_field_tag "phone", "", class: "form-control"
      %p
        %label State
        = text_field_tag "state", "", class: "form-control"       
      %p
        %label PostalCode
        = text_field_tag "postalCode", "", class: "form-control"
      %p
        %label Skills
        = text_field_tag "primarySkills", "", class: "form-control" 
      %p
        = submit_tag "Save", name: nil, class: "btn btn-primary"
    
  .col-md-9
    %iframe{src: "http://localhost:3000/applicants/5a4dfdda92f5e864ec2f72a8/resume.pdf",  allowfullscreen: "true", width: "100%", height: "500"}
