%nav.navbar.navbar-default{:role => "navigation"}
  .row
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} ParamRecruit

      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => applicants_path } Applicants
        %li
          %a{:href => search_applicants_path } Search
        %li
          %a{:href =>  search_resumes_path } Resume Search            
        %li
          %a{:href => "#", title: "New Resume", "data-target" => "#myModal", "data-toggle" => "modal"}
            %span.glyphicon.glyphicon-plus
