%h1 Clients#index
%p Find me in app/views/clients/index.html.haml

%table.table.table-hover#clients.display
  %tr
    - colmn_names.each do |colmn|
      %th= colmn
    %th
  - @clients.each do |c|
    %tr
      - colmn_names.each do |colmn|
        %td= c.send(colmn)
      %td
        = link_to "Edit", edit_client_path(c)
        = link_to "Remove", client_path(c), method: :delete, data: { confirm: 'Are you sure?' }

= link_to "New", new_client_path

:javascript
  $(document).ready(function() {
    $('#clients').DataTable({
      "oLanguage": {
        "sLengthMenu": "Show _MENU_ clients",
        "sZeroRecords": "No matching clients found",
        "sInfoEmpty": "Showing 0 to 0 of 0 clients",
        "sInfo": "Showing _START_ to _END_ of _TOTAL_ clients",
        "sInfoFiltered": "(filtered from _MAX_ total clients)"
      }
    });
  } );
