= page_entries_info @resumes
%br
%table.table.table-hover
  %thead
    %tr
      %th bm_id
      %th Resume
      %th
  %tbody
    - @resumes.each do |r|
      %tr
        %td= r.bm_id
        %td= link_to "View Resume", resume_path(r, "pdf"), :target => "_blank"
        %td
          = link_to "Edit", edit_resume_path(r)
          &nbsp;|&nbsp;
          = link_to "Remove", resume_path(r), method: :delete, data: { confirm: 'Are you sure?' }

= will_paginate @resumes
