$("#show-resume-list").fadeOut('100');
// $("#show-list").html("<%= escape_javascript(render "list", :locals => {:applicants => @applicants}) %>");
$("#show-resume-list").html("<%= j render "list", resumes: @resumes %>");
$("#show-resume-list").fadeIn('100');
$('.pagination a').attr('data-remote', 'true');
$('#spinner').hide();
