.row
  .col-md-3
    %h3 Data pulled from Resume
    %hr
    %br
    = form_tag(applicants_path, method: "post") do 
      = hidden_field_tag "resume_id", @resume.id
      %p
        %label Name
        = text_field_tag "firstName", @details["firstName"], class: "form-control"
      %p
        %label Email
        = text_field_tag "email", @details["email"], class: "form-control"
      %p
        %label Phone
        = text_field_tag "phone", @details["phone"], class: "form-control"
      %p
        %label State
        = text_field_tag "state", @details["state"], class: "form-control"       
      %p
        %label PostalCode
        = text_field_tag "postalCode", @details["postalCode"], class: "form-control"
      %p
        %label Skills
        = text_area_tag "primarySkills", @details["primarySkills"], rows: 6, class: "form-control" 
      %p
        = submit_tag "Save", name: nil, class: "btn btn-primary"
    
  .col-md-9
    %iframe{src: "#{root_url}/resumes/#{@resume.id.to_s}.pdf",  allowfullscreen: "true", width: "100%", height: "500"}
