!!!
%html
  %head
    %title ParamRecruit
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'jquery.dataTables', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'jquery.dataTables', media: 'all', 'data-turbolinks-track' => true
  %body
    = render 'shared/navbar'
    .row
      = yield
      = render 'shared/new_resume'
      
    


          
